.App {
    text-align: center;
}

.single-note {

}

.note-and-sharp {

}

.note-line-short {
    height: 4px;
    background: #000000;
    border: none;
    width: 100px;
    margin-bottom: -16px;
}

.note-line-long {
    height: 4px;
    background: #000000;
    border: none;
    width: 200px;
    margin-bottom: -16px;
}


button {
    height: 20px;
    width: 34px;
    margin: 2px;
}